<h2>Create New Workout</h2>

<form action='/workouts/new' method='POST'>
    <p>Workout Title: <input type='text' name='title'></p>
    <p>Workout Date: <input type='date' name='date' min='2020-01-01' max='2024-01-01'></p>
    <p>Exercise 1: <input type='text' name='exercises[]'></p>
    <p>Exercise 2: <input type='text' name='exercises[]'></p>
    <p>Exercise 3: <input type='text' name='exercises[]'></p>
    <input type='submit'>
</form>
<br><br>

<a href='/workouts'>Back to Workout Index</a>