<h2>View Workout Details</h2>

<label style='font-weight: bold;'>Workout Title: </label><%= @workout.title %>
<p><a href='/workouts/<%= @workout.id %>/edit'>Edit this Workout</a></p>

<form method="POST" action="/workouts/<%= @workout.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Workout">
</form>
<br><br>
<a href='/workouts'>Show all Workouts</a>


