<h1>View Workout Details</h1>

<p>Workout Title: <%= @workout.title %></p>
<p><a href='/workouts/<%= @workout.id %>/edit'>Edit this Workout</a></p>

<form method="POST" action="/workouts/<%= @workout.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Workout">
</form>
<br><br>
<a href='/workouts'>Show all Workouts</a>


