<h1>User Login</h1>

<form action='/login' method='POST'>
    <input type='text' name='name' placeholder='Enter username: '>
    <input type='text' name='email' placeholder='Enter email: '>
    <input type='text' name='password' placeholder='Enter password: '>
    <input type='submit'>
</form>