<h2>User Login</h2>

<form action='/login' method='POST'>
    <label>Enter Username: <input type='text' name='name' placeholder='Username'></label>
    <br>
    <label>Enter Email: <input type='text' name='email' placeholder='Email'></label>
    <br>
    <label>Enter Password: <input type='password' name='password' placeholder='Enter Password'></label>
    <br><br>
    <input type='submit'>
</form>