<!doctype html>
<html>
  <head>
    <title>Welcome to Workout Tracker!</title>
  </head>
  <body>

    <div class="container">
      <h1>Workout Tracker</h1>

      <a href='/signup'>Sign-up</a>
      <br>
      <a href='/login'>Login</a>

    </div>

    <br>
    <%= yield %>

  </body>
</html>
