<!doctype html>
<html>
  <head>
    <title>Welcome to Workout Tracker!</title>
  </head>
  <body>

    <div class="container">
      <h1>Workout Tracker</h1>
      <% if logged_in? %>
        <p>Welcome <%= current_user.name %> </p>
        <a href="/logout">Logout</a>
      <% else %>
          <a href="/login">Login</a>
          <br>
          <a href="/signup">Signup</a>
      <% end %>
    </div>

    <br>
    
    <%= yield %>

  </body>
</html>
